---
layout: default
---

<style>
  #navbar .navbar-brand.social {
    display: none;
  }

  .profile .contact-icons-profile {
    font-size: 2rem;
    line-height: 1.4;
    text-align: center;
  }

  .profile .contact-icons-profile a {
    margin: 0 0.2rem;
  }

  .profile .more-info {
    text-align: center;
  }
</style>

<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: '/assets/img/' | relative_url %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
          {% endif %}
          <figure>
            <img
              src="{{ profile_image_path }}"
              class="{{ profile_image_class }}"
              width="100%"
              height="auto"
              alt="{{ page.profile.image }}"
              loading="eager"
            >
          </figure>
        {% endif %}

        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}

        {% if page.social and site.social_in_profile %}
          <div class="social">
            <div class="contact-icons-profile">
              <p style="font-size: 1rem; margin-bottom: 0;" class="more-info">
                <a href="{{ '/links-contact/' | relative_url }}">links/contact info</a>
              </p>
              {% include social.liquid %}
              {% unless site.data.socials.orcid_id %}
                <a href="https://orcid.org/" title="ORCID" rel="external nofollow noopener" target="_blank">
                  <i class="ai ai-orcid" style="color: #a6ce39"></i>
                </a>
              {% endunless %}
            </div>
            <div class="contact-note">{{ site.contact_note }}</div>
          </div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    {% if page.announcements and page.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    {% if page.latest_posts and page.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    {% if page.social and site.social_in_profile == false %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>
        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter and site.newsletter.enabled and site.footer_fixed %}
      {% include newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
